[credential]
  helper = store

[include]
  path = ~/.config/git/workspaces.conf
[commit]
  gpgSign = true
[core]
  excludesFile = ~/.config/git/ignore
  hooksPath = ~/.config/git/hooks
[status]
  showUntrackedFiles = all
[gpg]
  format = ssh

[delta]
  minus-style                   = syntax "#59464c"
  minus-non-emph-style          = syntax "#59464c"
  minus-emph-style              = syntax "#e67e80"
  minus-empty-line-marker-style = syntax "#59464c"
  line-numbers-minus-style      = "#e67e80"
  plus-style                    = syntax "#48584e"
  plus-non-emph-style           = syntax "#48584e"
  plus-emph-style               = syntax "#a7c080"
  plus-empty-line-marker-style  = syntax "#48584e"
  line-numbers-plus-style       = "#a7c080"
  line-numbers-zero-style       = "#859289"
