[Unit]
Description=Save tmux session state
Documentation=https://github.com/khaitran/dotfiles

[Service]
Type=oneshot
Environment=PATH=%h/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
ExecStart=%h/.local/bin/tmux-save-sessions
